APP_NAME="SIAP Desa"
APP_ENV=production
APP_KEY=base64:X8k2nP8v9bL7mQ1wZ4yT6cR3eA5gH0jK2vF4sD6uI8o=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://127.0.0.1:8088

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE="C:/ProgramData/SIAP Desa/database/siap_local.sqlite"

SESSION_DRIVER=file
SESSION_LIFETIME=1440

SIAP_DATA_PATH="C:/ProgramData/SIAP Desa"
CENTRAL_API_URL="https://api.siapdesa.id/api/v1"
CENTRAL_API_KEY="sb_publishable_UeCe6pqUTtRhBgLjpT1djA_anoXjXve"
SYNC_ENABLED=true
AUTO_BACKUP=true


# Supabase & GitHub Central Cloud Integration
CENTRAL_API_KEY="sb_publishable_UeCe6pqUTtRhBgLjpT1djA_anoXjXve"
SUPABASE_KEY="sb_publishable_UeCe6pqUTtRhBgLjpT1djA_anoXjXve"
SUPABASE_URL="https://yrzuksjgmsumtllbokpc.supabase.co"
GITHUB_REPO="NH-Production/Siap-Desa"
GITHUB_URL="https://github.com/NH-Production/Siap-Desa"

SUPABASE_PUBLISHABLE_KEY="sb_publishable_UeCe6pqUTtRhBgLjpT1djA_anoXjXve"
SUPABASE_JWKS_URL="https://yrzuksjgmsumtllbokpc.supabase.co/auth/v1/.well-known/jwks.json"
